<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-left">
        <h3>Invernadero de Tomates</h3>
        <p>Produciendo los mejores tomates frescos y orgánicos.</p>
      </div>
      <div class="footer-right">
        <ul class="social-links">
          <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
          <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
          <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 Invernadero de Tomates. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>